@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-color: #050505;
  color: #e2e8f0;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}